@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

font-family: 'Roboto', sans-serif;

*{
    margin: 0px;
    padding: 0px;
}






/*===============================
            Hero Section
   ==============================*/

.hero{
    background-color: #87509C;
    min-height: 80vh;
    padding-bottom: 50px;
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding: 35px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    margin: 0px 15px;
    text-transform: uppercase;
    font-weight: 400;
}


.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
    background: #78478b;
    border-radius: 11px;
 
}



.header-sec{
    min-height: 300px;
    width: 80%;
    margin: 0px auto;
    
    
}

.h-text {
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 0px 56px;
    margin-top: 60px;
}

.h-text h1 {
    padding-top: 50px;
}


.big-btn {
    display: inline-block;
    background-color: #eb7d4b;
    border: none;
    border-bottom: 3px solid #c86a40;
    border-radius: 7px;
    color: #ffffff;
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: 1em;
    padding: 1em 3em;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s ease;
    margin-top: 100px;
}

.big-btn:hover, .big-btn:focus {
    background-color: #c86a40;
    text-decoration: none;
}





/*===============================
            service Section
==============================*/

.two{
    padding: 100px 0px;
    background-color: #17C2A4;
    min-height: 80vh;
}

.section-title{
    width: 60%;
    margin: 0px auto;
    
}

.section-title h2 {
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
    color: #fff;
    font-size: 38px;
}

.section-title:after {
    content: "";
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.45em;
    width: 88px;
    background-color: rgba(0, 0, 0, 0.15);
}


.section-text {
    padding-top: 25px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
    line-height: 1.5em;
}


.service-futer {
    margin: 50px 0px;
}


.service-head{
    text-align: center;
}

.icon {
    margin: 30px;
}

.feature-t {
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
}


.feature-d{
    color: #fff;
    font-size: 20px;
    text-align: center;
    font-weight: 300;

}





/*===============================
        team Section
==============================*/

.section-div{
    background: #E7F1F8;
    min-height: 80vh;
    padding: 50px  0px;


}


.section-title-4{
    width: 60%;
    margin: 0px auto;
    
}

.section-title-4 h2 {
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
    color: #3C4761;
    font-size: 38px;
}

.section-title-4:after {
    content: "";
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.45em;
    width: 88px;
    background-color: rgba(0, 0, 0, 0.15);
}


.section-text-4 {
    padding-top: 25px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    color:#3C4761;
    font-size: 20px;
    line-height: 1.5em;
}



.our-team {
    margin: 80px 0px;
}

.team{
    padding: 5px;
    text-align: center;
}
.team img{
    border-radius: 50%;
    padding-bottom: 25px;
}

.captin{
    color: #30BAE7;
}

.team p{
    line-height: ;
}



.social-icons {
    margin-top: 1.5em;
    padding: 0;
  }

.social-icons li {
    display: inline-block;
}


.social-icons li a {
    display: block;
    text-decoration: none;
    border-radius: 50%;
    background-color: #bdd1df;
    height: 32px;
    line-height: 32px;
    margin: 0 3px;
    width: 32px;
    color:#fff
}


.social-icons li a:hover, .social-icons li a:focus {
    background-color: #acc5d7;
}
  



/*===============================
        skill Section
==============================*/


.skill{
    background-color: #fff;
    min-height: 80vh;
    padding: 50px 0px;
}

.skill-pro {
    padding: 25px 20px;
    text-align: center;
}

.skill-pro h3 {
    margin: 45px 0px;
}






/*===============================
        protfolio Section
==============================*/
.protfolio{
    background-color: #FFDD99;
    padding: 80px 0px;
    min-height: 80vh;
    text-align: center;
}


.section-title-5{
    width: 60%;
    margin: 0px auto;
    
}

.section-title-5 h2 {
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
    color:#000;
    font-size: 38px;
}

.section-title-5:after {
    content: "";
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.45em;
    width: 88px;
    background-color: rgba(0, 0, 0, 0.15);
}


.section-text-5 {
    padding-top: 25px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    color:#000;
    font-size: 20px;
    line-height: 1.5em;
}




.filter-buttons button {
  font-size: 1.125em;
  font-weight: 400;
  color: #393939;
  background-color: #ebc985;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  padding: .25em 1.5em;
  margin: 0.5em;
  transition: background-color .5s ease;
}
.filter-buttons button.active, .filter-buttons button:hover {
  background-color: #ffffff;
}


.big-button {
  display: inline-block;
  background-color: #eb7d4b;
  border: none;
  border-bottom: 3px solid #c86a40;
  border-radius: 7px;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 600;
  margin-bottom: 1em;
  padding: 1em 3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .5s ease;
}
.big-button:hover, .big-button:focus {
  background-color: #c86a40;
  text-decoration: none;
}
.big-button:focus {
  outline: thin dotted;
  outline-offset: -8px;
}


p.project-description {
    padding: 20px 0px;
    font-size: 23px;
}







/*===============================
        protfolio Section
==============================*/



.about-us{
    background-color: #D74680;
    padding: 80px 0px;
    min-height: 80vh;
}


.section-title-6{
    width: 60%;
    margin: 0px auto;
    
}

.section-title-6 h2 {
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
    color:#fff;
    font-size: 38px;
}

.section-title-6:after {
    content: "";
    display: block;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.45em;
    width: 88px;
    background-color: rgba(0, 0, 0, 0.15);
}


.section-text-6 {
    padding-top: 25px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    color:#fff;
    font-size: 20px;
    line-height: 1.5em;
}


.testuminal{
    padding-top: 50px;
}

.testuminal img{
    border-radius: 50%;
}

.testuminal p{
    font-size: 20px;
    color: #fff;
}

.testuminal h3 {
    color: #fff;
    text-transform: uppercase;
}

p.desig {
    color: #ffdd99;
}

.img-test{
    padding-bottom: 20px;
}


.text-p {
    padding-bottom: 60px;
}








/*===============================
        GET IN Section
==============================*/

.contact {
    background-color: #3c5499;
    padding: 50px 50px;
  }
  .contact .section-description {
    max-width: 100%;
  }
  .contact .big-button {
    background-color: #30bae7;
    border-bottom: 3px solid #299ec5;
  }
  .contact .big-button:hover, .contact .big-button:focus {
    background-color: #299ec5;
  }

input[type="text"],
input[type="email"],
textarea {
  background-color: #273a71;
  border-radius: 3px;
  border: none;
  color: white;
  margin: .75em 0;
  padding: .5em 1em;
  width: 100%;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  margin-bottom: 3.5em;
}

.form-container {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.bttn{
    width: 25%;
    margin: 0px auto;
}



.sesh{
    background-color: #354A87;
}

.foo ul{
    list-style: none;
}

.foo ul a {
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-left: 29px;
    font-size: 30px;
    padding: 48px 0px;
    font-weight: 600;
}







